{
   "tabWidth": 2,
   "semi": true,
   "trailingComma": "none",
   "jsxSingleQuote": false,
   "singleQuote": false,
   "useTabs": false,
   "svelteBracketNewLine": false,
   "svelteIndentScriptAndStyle": true,
   "svelteAllowShorthand": false,
   "arrowParens": "always",
   "bracketSpacing": true
}