@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white selection:bg-lavendel-700 selection:text-lavendel;
}

html {
  @apply smooth-scroll scroll-padding-200;
  scrollbar-color: theme("colors.lavendel.600") theme("colors.lavendel.800");
}

html::-webkit-scrollbar {
  background-color: theme("colors.lavendel.800");
}

html::-webkit-scrollbar-thumb {
  background-color: theme("colors.lavendel.600");
}

@layer utilities {
  .animation-delay-0 {
    animation-delay: 0ms;
  }
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
  .animation-delay-1s {
    animation-delay: 1s;
  }
}

@layer components {
  .page-inset {
    @apply flex flex-row justify-center;
  }
  .page-inset > * {
    @apply px-8 sm:px-12 md:px-24 lg:px-28 xl:px-32 max-w-screen-2xl w-full;
  }
  .title {
    @apply text-5xl sm:text-7xl lg:text-8.5xl leading-none font-semibold font-sans text-black;
  }
  .subtitle {
    @apply title text-4xl md:text-5xl lg:text-6xl;
  }
  .subsubtitle {
    @apply subtitle text-3xl sm:text-4xl lg:text-4xl;
  }
  .title-eyebrow {
    @apply text-sm sm:text-base font-regular font-brand text-black uppercase;
  }
  .title-eyebrow-large {
    @apply title-eyebrow md:text-xl;
  }
  .paragraph {
    @apply text-sm sm:text-base font-regular font-sans text-black tracking-wide leading-loose sm:leading-loose mt-3 max-w-screen-md;
  }
  .paragraph-padding {
    @apply my-8;
  }
  .paragraph-small {
    @apply text-sm sm:text-sm leading-loose sm:leading-loose;
  }
  .text-tag {
    @apply relative before:absolute before:-left-4 sm:before:-left-6 before:top-0 before:bottom-0 before:my-auto before:h-1/2 before:w-1 sm:before:w-2 before:bg-lavendel before:block;
  }
  .btn {
    @apply whitespace-nowrap rounded-md px-6 py-3 text-sm font-semibold font-sans text-center tracking-widest uppercase focus:ring-2 focus:ring-offset-4 focus:outline-none;
  }
  .btn-primary {
    @apply bg-lavendel  text-white focus:ring-lavendel hover:bg-lavendel-600 shadow-lavendel peek hover:active-peek;
  }
  .btn-secondary {
    @apply bg-lavendel-800 text-lavendel focus:ring-lavendel hover:bg-lavendel-700 transition-colors;
  }
  .btn-group-row {
    @apply flex flex-row gap-4;
  }
  .btn-group-col {
    @apply flex flex-col gap-4;
  }
  .peek {
    @apply transform transition-transform;
  }
  .active-peek {
    @apply -translate-y-1;
  }
  .link {
    @apply cursor-pointer;
  }
  .active-link {
    @apply underline text-lavendel-400 border-lavendel-400;
  }
  .smooth-scroll {
    scroll-behavior: smooth;
  }

  .list-counter {
    counter-reset: list-counter;
  }
  .list-counter-item {
    counter-increment: list-counter;
  }
  .list-counter-item::before {
    content: counter(list-counter) ". ";
  }

  .scroll-padding-50 {
    scroll-padding-block: 50px;
    overflow-y: scroll;
  }
  .scroll-padding-200 {
    scroll-padding-block: 200px;
    overflow-y: scroll;
  }
  .scroll-padding-600 {
    scroll-padding-block: 600px;
    overflow-y: scroll;
  }
}
